<div class="d-flex justify-content-between align-items-center w-100">
  <!-- Scrollspy Navigation -->
  <nav id="scrollspy-nav-2" class="nav nav-pills pe-1">
    <a class="nav-link" href="#overview">Overview</a>
    <a class="nav-link" href="#experience">Pengalaman</a>
    <a class="nav-link" href="#education">Pendidikan</a>
    <a class="nav-link" href="#skills">Keterampilan</a>
    @if (certifications().length > 0) {
      <a class="nav-link" href="#certifications">Sertifikasi</a>
    }
  </nav>
</div>
