<div appBootstrap>
  <app-jumbotron [imageUrl]="'assets/images/jumbotron/home.jpg'" [imageAlt]="'A modern and clean workspace with a laptop and a cup of coffee'">
    <div jumbotron-main>
      <h1 class="display-4 fw-bold">Profil</h1>
      <p class="fs-5 fs-md-4">{{ jumbotronSubtitle() }}</p>
    </div>
  </app-jumbotron>

  <div appScrollSpy data-bs-target="#scrollspy-nav-1" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true">
    <section id="about" class="row align-items-md-stretch pb-4">
        <div class="col-lg-4 col-md-12">
          <div class="h-100 p-0 bg-body-secondary rounded-3">
            <div class="w-100 h-100 rounded-3 d-flex justify-content-center align-items-center"
                [appBackgroundImageFallback]="profileData().photo_profile"
                [fallbackUrl]="'assets/images/placeholder/placeholder-portrait.png'"
                style="background-size: cover; background-position: center center;"
                role="img"
                [attr.aria-label]="'Foto Profil ' + profileData().fullname_profile">
              <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="h-100 p-5 bg-body text-body border rounded-3">
                <h2 class="pb-2 border-bottom">Tentang Saya</h2>
                <table class="table table-borderless pt-3 fs-5">
                  <tbody>
                    <tr>
                        <th scope="row">Ulang Tahun</th>
                        <td>{{ profileData().birthday_profile | date:'d MMMM yyyy' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Nomor Telepon</th>
                        <td><a [href]="'tel:' + profileData().phone_profile">{{ profileData().phone_profile | phoneFormat }}</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Kota</th>
                        <td>{{ profileData().current_city_profile }}, {{ profileData().current_prov_profile }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Umur</th>
                        <td>{{ profileData().age }} Tahun</td>
                    </tr>
                    <tr>
                        <th scope="row">Gelar Terakhir</th>
                        <td>{{ latestDegree() }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td><a [href]="'mailto:' + profileData().email_profile">{{ profileData().email_profile }}</a></td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </section>

    <div id="skills" class="mt-4">
      @if (skills().length > 0) {
        <app-card title="Keterampilan & Keahlian" [cardPerRow]="{ sm: 2, md: 3, lg: 4}">
        @for (skill of skills(); track skill.id_skill) {
          <app-skill-card [skillName]="skill.name_skill" [skillPercentage]="skill.percent_skill"></app-skill-card>
        }
        </app-card>
      } @else {
        <div class="alert alert-info" role="alert">
          Tidak ada keahlian / skill yang ada
        </div>
      }
    </div>

    <!-- Work Philosophy Section -->
    @if (profileData().philosophy_profile) {
    <div id="philosophy" class="mt-2">
      <div class="h-100 p-5 bg-body-tertiary rounded-3">
        <h2>Filosofi Kerja Saya</h2>
        <p class="lead">{{ profileData().philosophy_profile }}</p>
      </div>
    </div>
    }

    <!-- Hobbies & Interests Section -->
    <div id="hobbies" class="mt-4">
      @if (hobbies().length > 0) {
      <app-feature title="Hobi & Minat" [itemPerRow]="{ sm: 2, md: 3, lg: 4 }">
        @for (hobby of hobbies(); track hobby.id_hobby) {
          <app-hobbies-feature
          [id]="hobby.id_hobby"
          [name]="hobby.name_hobby"
          [icon]="hobby.icon_hobby"
          />
        }
      </app-feature>
      } @else {
        <div class="alert alert-info" role="alert">
          Tidak ada hobi yang ada
        </div>
      }
    </div>
  </div>
</div>
