:host {
  display: contents;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1030; // Above most content, but below modals.
  width: 58px;
  height: 58px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(100px);
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;

  &.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
