<div class="accordion" [id]="id_parent()">
  @for (item of items(); track item.id) {
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" [class.collapsed]="!item.isOpen" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#' + item.id" [attr.aria-expanded]="item.isOpen || false" [attr.aria-controls]="item.id">
          {{ item.title }}
        </button>
      </h2>
      <div [id]="item.id" class="accordion-collapse collapse" [class.show]="item.isOpen" [attr.data-bs-parent]="'#' + id_parent()">
        <div class="accordion-body">
          @if (itemBodyTemplate) {
            <ng-container [ngTemplateOutlet]="itemBodyTemplate" [ngTemplateOutletContext]="{ $implicit: item }"></ng-container>
          } @else {
            {{ item.content }}
          }
        </div>
      </div>
    </div>
  }
</div>
