<div class="col d-flex align-items-start">
  <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-briefcase" viewBox="0 0 16 16">
      <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5zM1.886 4.5H1.5a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-8a.5.5 0 0 0-.5-.5h-.386a2.5 2.5 0 0 1-5.228 0H1.886z"/>
    </svg> -->
    <i class="bi bi-briefcase"></i>
  </div>
  <div>
    <h3 class="fs-2 text-body-emphasis d-flex align-items-center gap-2 flex-wrap">
      <span>{{ title() }}</span>
      <span class="badge fs-6 fw-medium" [ngClass]="status() | statusBadge">{{ status() }}</span>
    </h3>
    <p class="mb-1">{{ company() }}</p>
    <p class="mb-1">
      <small class="text-body-secondary">{{ s_period() | date:'MMM yyyy' }} - {{ status() === 'Ongoing' ? 'Sekarang' : (f_period() | date:'MMM yyyy') }}</small>
    </p>
    <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" [attr.data-bs-target]="'#' + modalId()">
      Lihat Detail
    </button>
  </div>
</div>

<app-experience-modal
  [id]="modalId()"
  [title]="title()"
  [company]="company()"
  [status]="status()"
  [s_period]="s_period()"
  [f_period]="f_period()!"
  [description]="description()!"
  [latitude]="latitude()"
  [longitude]="longitude()"
  size="lg"
  centered
  scrollable
/>

<!-- Modal Structure -->
<!-- <div class="modal fade" [id]="modalId()" tabindex="-1" [attr.aria-labelledby]="modalId() + 'Label'" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" [id]="modalId() + 'Label'">{{ title() }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      @if (description()) {
      <div class="modal-body">
        {{ description() }}
      </div>
      }
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
      </div>
    </div>
  </div>
</div> -->
