<div class="col d-flex align-items-start">
  <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-mortarboard" viewBox="0 0 16 16">
      <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0l7.5-3a.5.5 0 0 0 .025-.917zM8 5.482 1.5 2.5 8 0l6.5 2.5z"/>
      <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466zm-.068 1.873.22-.748 3.496 1.311a.5.5 0 0 0 .352 0l3.496-1.311.22.748L8 12.46z"/>
    </svg>
  </div>
  <div>
    <h3 class="fs-2 text-body-emphasis d-flex align-items-center gap-2 flex-wrap">
      <span>{{ school() }}</span>
      <span class="badge fs-6 fw-medium" [ngClass]="status() | statusBadge">{{ status() }}</span>
    </h3>
    <p class="mb-1">{{ degree() }} - {{ major() }}</p>
    <p class="mb-1">
      <small class="text-body-secondary">{{ s_period() | date:'MMM yyyy' }} - {{ f_period() | date:'MMM yyyy' }}</small>
    </p>
    @if (gpa()) {
      <p class="mb-1"><strong>IPK:</strong> {{ gpa() | number:'1.1-2' }}</p>
    }
    <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" [attr.data-bs-target]="'#' + modalId()">
      Lihat Detail
    </button>
  </div>
</div>

<app-education-modal
  [id]="modalId()"
  [school]="school()"
  [degree]="degree()"
  [major]="major()"
  [status]="status()"
  [s_period]="s_period()"
  [f_period]="f_period()!"
  [gpa]="gpa()!"
  [description]="description()!"
  [latitude]="latitude()"
  [longitude]="longitude()"
  size="lg"
  centered
  scrollable
/>

<!-- Modal Structure -->
<!-- <div class="modal fade" [id]="modalId()" tabindex="-1" [attr.aria-labelledby]="modalId() + 'Label'" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" [id]="modalId() + 'Label'">{{ school() }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      @if (description()) {
      <div class="modal-body">
        {{ description() }}
      </div>
      }
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
      </div>
    </div>
  </div>
</div> -->
