<div class="jumbotron-container p-4 p-md-5 mb-4 bg-body-tertiary rounded-3" [ngStyle]="backgroundStyles()" [attr.role]="imageUrl() ? 'img' : null" [attr.aria-label]="imageUrl() ? imageAlt() : null">
    <div class="container-fluid">
      <div class="row align-items-center g-4">
        <div class="text-center text-lg-start order-2 order-lg-1" [class.text-white]="imageUrl()" [ngClass]="{'col-lg-8': jumbotronImage.children.length > 0, 'col-md-8 col-lg-6': jumbotronImage.children.length === 0}">
          <ng-content select="[jumbotron-main]"></ng-content>
        </div>
        <!-- The #jumbotronImage template reference variable allows us to check if content is projected -->
        <div #jumbotronImage class="col-lg-4 d-flex justify-content-center order-1 order-lg-2">
          <ng-content select="[jumbotron-image]"></ng-content>
        </div>
      </div>
    </div>
</div>
