.case-study h2 {
  border-bottom: 2px solid var(--bs-border-color);
  padding-bottom: 0.5rem;
}

.case-study .fs-5 ul {
  padding-left: 1.5rem;
}

.project-info-header {
  border-bottom: 1px solid var(--bs-border-color);
  padding-bottom: 1.5rem;
}
