.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
}

.image-container img {
  opacity: 0;
  /* transition: opacity 0.3s ease-in-out; */
}

.image-container.loaded .spinner-border {
  display: none;
}

.image-container.loaded img {
  opacity: 1;
}

.image-container.loaded {
  min-height: 0;
}

.related-post-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This crops the image to fit, preserving aspect ratio */
}
